<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Hola reproduccion</title>
</head>
<body>
    
    <div class="container">

        <div class="container">
            <h4 class="text-center"> Login para Spotify</h4>
        </div>
        <div class="container">
            
                                {{form.non_field_errors}}

            <form action="#" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{field.label_tag}}
                        {{field}}
                    </div>
                {% endfor %}
                
                <input type="submit" value="Iniciar sesion", class="btn btn-primary">
            </form>
        </div>
    </div>
</body> 
</html>